@model provet.Models.StartsidanViewModel
@{

}
<section id="home-container">

<section id="home-list">

<h3>Fem senaste resultaten</h3>

<ul>
    @if (Model.LastFiveUsers != null)
    {
        @foreach (string name in Model.LastFiveUsers)
        {
            <li>@name - poäng: 5</li>
        }
    }
</ul>

</section>

<section id="home-form">
<form method="post">
    <label for="Name">Provdeltagare:</label>
    <input type="text" id="Name" name="Name" placeholder="Namn">
    <br>
    <fieldset>
        <legend>Tididgare universitets/högskolestudier?</legend>
        <br>
        <input type="radio" id="ed_yes" name="HigherEd" value="higher_ed_yes">
        <label for="ed_yes">Ja</label><br>
        <input type="radio" id="ed_no" name="HigherEd"  value="higher_ed_no" checked >
        <label for="ed_no">Nej</label><br><br>
    </fieldset>
    <br>

<label for="ShowName">Det är okej att mitt namn visas i de sensate fem resultaten på denna sida efter provet:</label>
    <input type="checkbox" value="true" name="ShowName" id="ShowName">
    
    
    <br>
    <input type="submit" value="Jag är redo, börja provet!">
</form>
</section>
</section>