* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3180b5;
    color: white;
}

header {
    background-color: #286f9e;
    text-align: center;
    margin-bottom: 100px;
    padding: 20px 0 20px 0;
}

#home-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.lastFive{
    padding: 15px 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #286f9e;
}

#home-form {
    border: 1px solid;
    border-radius: 5px;
    padding: 20px;
    background-color: #286f9e;
}

#home-form>form {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

input[type="radio"] {
    margin-left: 15px;
}


input[type="radio"]:checked+label {
    font-weight: bold;

}

input[type="submit"] {
    cursor: pointer;
    border: none;
    padding: 5px;
    border-radius: 3px;
    background-color: greenyellow;
    font-weight: bold;
    margin-bottom: 50px;
}

#question-container {
    width: 80%;
    text-align: center;
    margin: auto;

}

.question-div {
    background-color: #286f9e;
    margin-top: 20px;

    padding: 30px;
}

.question-div h3,
.question-div h4 {
    margin-bottom: 10px;
    max-width: 40%;
    margin-left: 50%;
    transform: translateX(-50%);

}

.question-radio {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.question-radio input[type="radio"] {
    margin: 10px;
}

#result-container {
    border-radius: 4px;
    background-color: #286f9e;
    width: 60%;
    padding: 50px;
    text-align: center;
    margin: auto;
}

#resultat{
    font-size: 1.8rem;
    font-weight: bold;
}
#partial-circle {
    position: absolute;
    top: 4%;
    left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: red;
    opacity: .7;
}
#partial-p {
    transform: rotate(-40deg);
    color: white;
    font-weight: 700;
    text-align: center;
}
@media (max-width: 600px) {
    #home-container {
        flex-direction: column;
    }
}